.panel.panel-default
  .panel-heading
    .text-muted
      = byline sailing_diary.user
      = date_f sailing_diary.sailed_on
      - if can? :manage, sailing_diary
        = link_to '수정', [:edit, sailing_diary], class: 'text-danger'
        = link_to '삭제', sailing_diary, method: :delete, class: 'text-danger', data: {confirm: t('application.delete_confirm')}
  .panel-body
    %div= simple_format sailing_diary.body
  .panel-footer
    = render sailing_diary.comments
    - new_comment =  Comment.new(commentable: sailing_diary)
    - if can? :create, new_comment
      .comment-form
        = form_for [sailing_diary, new_comment] do |f|
          .media
            .media-left= render 'users/thumbnail'
            .media-body
              .form-group
                = f.text_field :body, class: 'form-control', placeholder: '댓글...'
            .media-right
              = f.submit '작성', class: 'btn btn-primary'

