.page-header
  %h2
    항해일지

%div
  .panel.panel-primary
    .panel-body
      = render 'form'

%section
  %ul.list-inline
    - Emotion.sign.values.each do |sign|
      - cnt = @canoe.sailing_diaries.with_emotion(sign).count
      - if cnt > 0
        %li{ style: 'padding-right: 0; padding-bottom: 5px;' }
          = link_to canoe_sailing_diaries_path(@canoe, emotion: sign), class: 'btn btn-primary btn-xs' do
            = sign.text
            %small= cnt

%section
  .row
    - @sailing_diaries.each do |sailing_diary|
      .col-sm-6
        = render sailing_diary
