.page-header
  %h2
    항해일지

%section
  %ul.list-inline
    - Emotion.sign.values.each do |sign|
      - cnt = @canoe.sailing_diaries.with_emotion(sign).count
      %li{ style: 'padding-right: 0; padding-bottom: 5px;' }
        = link_to canoe_sailing_diaries_path(@canoe, emotion: sign), style: 'text-decoration: underline' do
          = sign.text
          %small= cnt

%section
  .row.masonry-container
    .col-sm-6
      .panel.panel-default
        .panel-body
          = render 'form'

    - @sailing_diaries.each do |sailing_diary|
      .col-sm-6
        = render sailing_diary
