.panel.panel-default
  .panel-heading
    .text-muted
      = byline opinion.user
      = date_f opinion.created_at
      - if can? :destroy, opinion
        = link_to '삭제', opinion, method: :delete, class: 'text-danger'
  .panel-body
    %div= simple_format opinion.body
  .panel-footer
    = render opinion.comments
    - new_comment =  Comment.new(commentable: opinion)
    - if can? :create, new_comment
      .comment-form
        = form_for [opinion, new_comment] do |f|
          .media
            .media-left= render 'users/thumbnail'
            .media-body
              .form-group
                = f.text_area :body, class: 'form-control', placeholder: '댓글...'
            .media-right
              = f.submit '작성', class: 'btn btn-primary'
