.panel.panel-default
  .panel-heading
    .text-muted
      = byline opinion.user
      = date_f opinion.created_at
      - if can? :update, opinion
        = link_to '수정', [:edit, opinion], class: 'text-danger'
      - if can? :destroy, opinion
        = link_to '삭제', opinion, method: :delete, class: 'text-danger'
  .panel-body
    %p
      - if opinion.updated?
        %span.text-muted (수정)
      = smart_format opinion.body, {}, wrapper_tag: "span"
  - if opinion.comments.any?
    .panel-footer
      = render opinion.comments
  - new_comment =  Comment.new(commentable: opinion)
  - if can? :create, new_comment
    .panel-footer
      .comment-form
        = form_for [opinion, new_comment] do |f|
          .media
            .media-left= render 'users/thumbnail'
            .media-body
              .form-group
                = f.text_field :body, class: 'form-control input-sm', placeholder: '댓글...'
            .media-right
              = f.submit '작성', class: 'btn btn-default btn-sm'

