%div[discussion]
  %h4= link_to discussion.title, discussion
  %div
    = discussion.user.nickname
    = discussion.created_at
    = link_to '수정', [:edit, discussion], class: 'text-danger'
    = link_to '삭제', discussion, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }, class: 'text-danger'
