.panel[discussion]{class: ( discussion.unread?(current_user)? 'panel-primary' : 'panel-default')}
  .panel-body
    .user-byline
      .user-image{style: "background-image: url(#{discussion.user.image.sm.url});"}
      %small.text-muted
        = discussion.user.nickname
        %small
          #{date_f discussion.created_at}부터
  .panel-body
    .media-body
      %h4.media-heading
        = link_to discussion do
          = discussion.title
          - if user_signed_in? and discussion.unread? current_user
            %sup
              %i.fa.fa-circle

  - recent_discussions = discussion.activities.recent.limit(2)
  - if recent_discussions.any? and local_assigns[:show_recent_timeline]
    .panel-body
      %ul.list-unstyled
        - recent_discussions.each do |activity|
          %li[activity]
            = render "activities/#{activity.trackable_type.underscore}/#{activity.action}", activity: activity
