- category ||= (@category || @discussion.try(:category))
.page-header
  %h2
    - if category.present?
      = link_to path_with_category(category) do
        \##{category.name}
      - if @discussion.blank?
        %small
          = link_to edit_category_path(category) do
            %i.fa.fa-edit
    - else
      모든 논의
    - if @discussion.try(:persisted?)
      \-
      = link_to @discussion.title, @discussion
      %small
        - if can? :update, @discussion
          = link_to [:edit, @discussion] do
            %i.fa.fa-edit
        - if can? :archive, @discussion
          - if @discussion.archived?
            = link_to [:inbox, @discussion], method: :patch do
              %i.fa.fa-inbox
          - else
            = link_to [:archive, @discussion], method: :patch do
              %i.fa.fa-archive
        - if can? :destroy, @discussion
          = link_to @discussion, method: :delete, data: {confirm: t('application.delete_confirm')} do
            %i.fa.fa-trash

    - if local_assigns[:page_title]
      \-
      = local_assigns[:page_title]

    - if local_assigns[:page_title].blank?
      %small.pull-right
        = link_to '새 논의열기', new_canoe_discussion_path(@canoe, category_id: (category.id if category.present?)), class: 'btn btn-primary'
