.page-header
  %h3
    논의 - #{@discussion.title}

.text-muted
  = link_to @discussion.user.nickname, @discussion.user
  = @discussion.created_at
  = link_to '수정', [:edit, @discussion], class: 'text-danger'
  = link_to '삭제', @discussion, class: 'text-danger'

%hr

%div
  = simple_format @discussion.body

%hr

.row
  .col-xs-12.col-md-6
    %div
      %h4= Opinion.model_name.human
      %ul.list-unstyled
        - @discussion.opinions.each do |opinion|
          %li[opinion]
            .text-muted
              = link_to opinion.user.nickname, opinion.user
              = opinion.created_at
              = link_to '삭제', opinion, method: :delete, class: 'text-danger'
            %div= simple_format opinion.body
            %hr

      = form_for Opinion.new do |f|
        = f.hidden_field :discussion_id, value: @discussion.id
        .form-group
          = f.text_area :body, class: 'form-control'
        .form-group
          = f.submit class: 'btn btn-primary'
  .col-xs-12.col-md-6
    %section
      %h4= ProposalRequest.model_name.human
      = render @discussion.proposal_requests

      .alert.alert-warning
        - if @discussion.proposal_requests.empty?
          %p.help-text 논의가 충분히 진행되면 제안을 받기 시작하세요.

        = form_for [@discussion, ProposalRequest.new] do |f|
          .form-group
            = f.text_field :title, placeholder: '제안 받을 내용을 적으세요', class: 'form-control'
          .form-group
            = f.submit class: 'btn btn-primary'
