.container-fluid
  .row
    .col-sm-3.col-md-2.sidebar
      = render 'canoes/sidebar'

    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
      .page-header
        %h2
          논의 - #{@discussion.title}
          %small.pull-right
            = link_to '수정', [:edit, @discussion], class: 'btn btn-primary'
            = link_to '삭제', @discussion, class: 'btn btn-primary'

      %div
        = simple_format @discussion.body

      %hr

      %div
        %ul.list-unstyled
          - @discussion.opinions.each do |opinion|
            %li[opinion]
              %p= simple_format opinion.body
              %div
                = link_to opinion.user.nickname, opinion.user
                = opinion.created_at
                = link_to '삭제', opinion, method: :delete, class: 'text-danger'
              %hr

        = form_for Opinion.new do |f|
          = f.hidden_field :discussion_id, value: @discussion.id
          .form-group
            = f.text_area :body, class: 'form-control'
          .form-group
            = f.submit class: 'btn btn-primary'