.comment
  .media
    .media-left= render 'users/thumbnail', user: comment.user
    .media-body
      .comment-content
        %span.user.text-muted
          = comment.user.nickname
        = simple_format comment.body, {}, wrapper_tag: 'span'
      .comment-meta.text-muted
        = date_f comment.created_at
        - if can? :destroy, comment
          = link_to '삭제', comment, method: :delete, class: 'text-danger'
