= form_for @canoe do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :body
    = f.text_area :body, class: 'form-control'
  .form-group
    = f.label :logo
    = f.file_field :logo, class: 'form-control'
  .form-group
    = f.label :slack_webhook_url
    = f.text_field :slack_webhook_url, class: 'form-control'
  .form-group
    = f.submit class: 'btn btn-primary'
