%ul.nav.nav-sidebar
  %li
    = link_to @canoe do
      = image_tag @canoe.logo_url, style: 'width: 100%;'
      %h3= @canoe.title
    = render 'boarding_requests/button', canoe: @canoe

- if @canoe.member? current_user
  %ul.nav.nav-sidebar
    %li
      = link_to canoe_discussions_path(@canoe) do
        논의
    %li
      %ul
        - @canoe.categories.persisted.each do |category|
          %li
            = link_to path_with_category(category) do
              \# #{category.name}
              - if category.discussions_count != 0
                %span.count= category.discussions_count
              %sup
                - if category.unread? current_user
                  %i.fa.fa-circle
        %li
          = link_to new_canoe_category_path(@canoe) do
            %i.fa.fa-plus
            새 카테고리
    %li
      = link_to canoe_sailing_diaries_path(@canoe) do
        일지
        %span.count= @canoe.sailing_diaries.count
    %li
      = link_to canoe_wikis_path(@canoe) do
        위키
        %span.count= @canoe.wikis.count
    %li
      = link_to canoe_memberships_path(@canoe) do
        팀원
        %span.count= @canoe.memberships.count
        - if @canoe.boarding_requests.any?
          %div.text-danger
            (가입요청 #{@canoe.boarding_requests_count})
    %li
      = link_to [:edit, @canoe] do
        설정
