.container-fluid
  .row
    .col-sm-3.col-md-2.sidebar
      = render 'canoes/sidebar'

    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main

      %h2.page-header "#{@canoe.title}" 카누

      %p= @canoe.body

      = image_tag @canoe.logo.url

      .boarding_requests
        - @canoe.boarding_requests.each do |boarding_request|
          .boarding_requests__user
            = boarding_request.user.nickname
          .boarding_requests__created_at
            = boarding_request.user.created_at
