%section
  .section-header
    %h3 Overview
  %p.lead= @canoe.body

- if @canoe.member? current_user

  %div
    #canoe-mobile-tabs
      %ul.nav.nav-tabs{:role => "tablist"}
        %li.active{:role => "presentation"}
          %a{"aria-controls" => "home", "data-toggle" => "tab", :href => "#discussions", :role => "tab"}
            = Discussion.model_name.human
            %small= @canoe.discussions.count

        %li{:role => "presentation"}
          %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#sailing_diaries", :role => "tab"}
            = SailingDiary.model_name.human
            %small= @canoe.sailing_diaries.count

        %li{:role => "presentation"}
          %a{"aria-controls" => "settings", "data-toggle" => "tab", :href => "#wikis", :role => "tab"}
            = Wiki.model_name.human

        %li{:role => "presentation"}
          %a{"aria-controls" => "settings", "data-toggle" => "tab", :href => "#users", :role => "tab"}
            = Membership.model_name.human
            %small= @canoe.memberships.count

        - if @canoe.boarding_requests.recent.any?
          %li{:role => "presentation"}
            %a{"aria-controls" => "messages", "data-toggle" => "tab", :href => "#boarding_requests", :role => "tab"}
              = BoardingRequest.model_name.human
              %small= @canoe.boarding_requests.recent.count

    .tab-content
      #discussions.tab-pane.active{:role => "tabpanel"}
        %section
          %h4
            = link_to Discussion.model_name.human, canoe_discussions_path(@canoe)
            %small.pull-right
              = link_to '+ 열기', new_canoe_discussion_path(@canoe)
          %div
            = render @canoe.discussions.recent.limit(10)
      #sailing_diaries.tab-pane{:role => "tabpanel"}
        %section
          .panel.panel-primary
            .panel-heading
              오늘의 항해일지
            .panel-body
              = render 'sailing_diaries/form'

        %section
          %ul.list-inline
            - Emotion.sign.values.each do |sign|
              %li
                = link_to sign.text, canoe_sailing_diaries_path(@canoe, emotion: sign)

        %section
          .row
            - @sailing_diaries.each do |sailing_diary|
              .col-sm-6
                = render sailing_diary

      #wikis.tab-pane{:role => "tabpanel"}
        %section

      #users.tab-pane{:role => "tabpanel"}
        %section
          %ul.list-unstyled
            - @canoe.memberships.each do |membership|
              .panel.panel-default[membership]
                .panel-body
                  = byline membership.user
                  - if can? :cancel, membership
                    = link_to '탈퇴', cancel_canoe_memberships_path(canoe_id: @canoe), method: :delete, class: 'btn btn-default btn-xs'

      #boarding_requests.tab-pane{:role => "tabpanel"}
        %section
          %h4= BoardingRequest.model_name.human
          - @canoe.boarding_requests.recent.each do |boarding_request|
            = render boarding_request
