%section
  .section-header
    %h4 개요
  %p.lead= @canoe.body

- if @canoe.member? current_user
  .row
    .col-sm-6
      %section
        %h4
          = link_to '최근 논의', canoe_discussions_path(@canoe)
          %small.pull-right
            = link_to '+ 논의열기', new_canoe_discussion_path(@canoe)
        %div
          = render @canoe.discussions.recent.limit(10), show_recent_timeline: true
    .col-sm-6
      %section
        %h4
          = link_to '최근 일지', canoe_sailing_diaries_path(@canoe)
          %small.pull-right
            = link_to '+ 일지 쓰기', canoe_sailing_diaries_path(@canoe)
        %div
          = render @canoe.sailing_diaries.recent.limit(10)
