.panel[proposal_request]{class: (proposal_request.inboxed? ? 'panel-warning' : 'panel-default')}
  .panel-heading
    %h4.panel-title
      = proposal_request.title
    %small
      = byline proposal_request.user
      - if can? :edit, proposal_request
        = link_to '수정', [:edit, proposal_request], class: 'text-danger'
      - if can? :archive, proposal_request
        - if proposal_request.archived?
          = link_to '아카이브취소', [:inbox, proposal_request], method: :patch, class: 'text-danger'
        - else
          = link_to '아카이브', [:archive, proposal_request], method: :patch, class: 'text-danger'
      - if can? :destroy, proposal_request
        = link_to '삭제', proposal_request, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }, class: 'text-danger'
  %ul.list-group
    - proposal_request.proposals.each do |proposal|
      %li.list-group-item{ style: 'border-color: #faebcc' }
        = render proposal

    - new_proposal = Proposal.new(proposal_request: proposal_request)
    - if can? :create, new_proposal
      %li.list-group-item{ style: 'border-color: #faebcc' }
        = form_for new_proposal do |f|
          = f.hidden_field :proposal_request_id, value: proposal_request.id
          .media-body
            .form-group
              = f.text_field :title, placeholder: '투표할 항목은 무엇인가요?', class: 'form-control'
          .media-right
            .form-group
              = f.submit '추가', class: 'btn btn-primary'

